<ion-view>
<ion-nav-title>
  Mindlife Starter App
</ion-nav-title>
<ion-nav-buttons side="left">
  <a class="button button-icon button-clear icon ion-ios-help-outline" ng-click="goHelp()"></a>
</ion-nav-buttons>
<ion-nav-buttons side="right">
  <a class="button button-icon button-clear icon ion-gear-a" ng-click="goAccount()"></a>
</ion-nav-buttons>
  <ion-content>
  <div class="offline" ng-if="online == 'offline'" class="animate-if">
    <p>You are now in offline mode.<br/>You can continue to use the app.</p>
  </div>
    {{welcome_message}}
  </ion-content>
</ion-view>
