<ion-view>
<ion-nav-buttons side="left">
  <a class="button button-icon button-clear icon ion-ios-ionic-outline dark" ui-sref='home'></a>
</ion-nav-buttons>
<ion-nav-buttons side="right"> 
  <button class="button button-icon button-clear icon dark"
          ng-click="nextSlide()" ng-show="currentSlide < 4 || !currentSlide">
    Next
  </button>
  <button class="button button-icon button-clear icon dark"
          ui-sref='home' ng-show="currentSlide == 4">
    I'm In !
  </button>
</ion-nav-buttons>
    <ion-content>
        <ion-slide-box on-slide-changed="slideHasChanged($index)" delegate-handle="theHelpSlider" show-pager="false">
      <ion-slide>
        <div class="helpBox brow">
          <div class="col-xs-12 col-md-offset-3 col-md-6">
            <h2>Calling all Students!<br/><br/></h2>
            <h4>Join our Young Creative Crew and you could win £100!<br/><br/>In collaboration with Character Scotland, Help2Help is on a mission to develop an amazing App with you, for you!<br/>Based on the Inspire>Aspire Poster Programme this App will inspire you and your friends to be the best you can be, fulfil your dreams, and unfold your unique potential to achieve a flourishing meaningful life.<br/><br/><br/></h4>
            <button class="button button-balanced button-block" ng-click="nextSlide()">Next!</button>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="helpBox brow">
          <div class="col-xs-12 col-md-offset-3 col-md-6">
            <h2>We invite you to work with us.<br/><br/></h2>
            <h4>This development is part of a research program to inspire and encourage you, your friends and all young people to nurture your strengths, and develop positive character qualities to truly awaken your ability to feel fully alive and in charge of your own destiny.<br/><br/><br/></h4>
            <button class="button button-balanced button-block" ng-click="nextSlide()">Next!</button>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="helpBox brow">
          <div class="col-xs-12 col-md-offset-3 col-md-6">
            <br/><br/><br/><h4>You know better than anyone what makes an App appealing and how to stimulate you and your friends to use it. So tell us what features are important and what motivates you.<br/><br/><br/></h4>
            <button class="button button-balanced button-block" ng-click="nextSlide()">Next!</button>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="helpBox brow">
          <div class="col-xs-12 col-md-offset-3 col-md-6">
            <br/><br/><h4>Follow the prompts to enter your ideas. Every input will be entered into a prize draw, with each comment counted as a separate entry. Play all categories and you could be the lucky winner of a cash prize!<br/><br/><br/></h4>
            <button class="button button-balanced button-block" ng-click="nextSlide()">Next!</button>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="helpBox brow">
        <div class="col-xs-12 col-md-offset-3 col-md-6">
          <br/><br/><h4>Let your creativity flow and watch your chances of winning, and unlocking the next level, increase with every input! All contributions are eagerly anticipated. Best contributions will receive credits and ideas will be incorporated in the App.<br/><br/><br/></h4>
          <button class="button button-balanced button-block" ui-sref="home">
            I'm In !
          </button>
        </div>
        </div>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-view>
