<ion-view hide-nav-bar="true">
  <ion-content style="text-align:center; padding-top:2%">
    <br/>
    <h1>{{ 'PASSWORD_RESET_TITLE' | translate }}</h1>
    <div class="bsrow">
      <div class="col-xs-12 col-xs-B-offset-2 col-xs-B-8 col-sm-offset-3 col-sm-6 col-lg-offset-4 col-lg-4">
        <h4 ng-if="!spinner && !login_message">{{ 'PASSWORD_RESET_TEXT' | translate }}</h4>
        <h4 ng-if="login_message">{{ login_message }}</h4>
        <h4 ng-if="spinner && !login_message">please wait</h4>
        <div class="list">
          <br/>
          <label class="item item-input item-floating-label list_dashed">
            <span class="input-label">Email</span>
            <input type="email" placeholder="&nbsp;{{'LOGIN_EMAIL_LABEL' | translate }}" ng-model="login.email" required>
          </label>
        </div>
      </div>
      <div class="col-xs-12 col-xs-B-offset-2 col-xs-B-8 col-sm-offset-3 col-sm-6 col-lg-offset-4 col-lg-4">
        <button class="button button-dark button-block icon-left ion-log-in" ng-click="userLoginPasswordReset(login.email)" ng-disabled="spinner">
        {{ 'PASSWORD_RESET_BUTTON' | translate }}<ion-spinner ng-if="spinner" class="spinner-button-right" icon="spiral"></ion-spinner>
        </button>
        <button class="button button-block button-assertive icon-left ion-android-cancel" ng-click="userLoginPage()" ng-disabled="spinner">
        {{ 'CANCEL_REGISTER' | translate }}
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>