<ion-view hide-nav-bar="true">
  <ion-content style="text-align:center; padding-top:2%">
    <div class="bsrow">
      <div class="col-xs-12 col-xs-B-offset-2 col-xs-B-8 col-sm-offset-3 col-sm-6 col-lg-offset-4 col-lg-4">
        <br/>
        <h1>{{ 'REGISTER_TITLE' | translate }}</h1>
        <br/>
        <h4 ng-if="!LogC.spinner && !LogC.login_message">{{ 'REGISTER_TEXT' | translate }}</h4>
        <h4 ng-if="LogC.login_message">{{ LogC.login_message }}</h4>
        <h4 ng-if="LogC.spinner && !LogC.login_message">Please wait</h4>
        <br/>
        <div class="list">
          <label class="item item-input item-floating-label list_dashed">
            <span class="input-label">Email</span>
            <input type="email" placeholder="{{'LOGIN_EMAIL_LABEL' | translate }}" ng-model="LogC.register.email" required>
          </label>
          <label class="item item-input item-floating-label list_dashed">
            <span class="input-label">Password</span>
            <input type="password" placeholder="{{'LOGIN_PASSWORD_LABEL' | translate }}" ng-model="LogC.register.password" required>
          </label>
        </div>
      </div>
    </div>
    <div class="bsrow">
      <div class="col-xs-12 col-xs-B-offset-2 col-xs-B-8 col-sm-offset-3 col-sm-6 col-lg-offset-4 col-lg-4">
        <button class="button button-calm button-block icon-left ion-person-add" ng-click="LogC.register(LogC.register.email, LogC.register.password)" ng-disabled="LogC.spinner">
        {{ 'REGISTER' | translate }}<ion-spinner ng-if="LogC.spinner" class="spinner-button-right" icon="spiral"></ion-spinner>
        </button>
        <button class="button button-block button-assertive icon-left ion-android-cancel" ng-click="LogC.returnToLogin()" ng-disabled="LogC.spinner">
        {{ 'CANCEL_REGISTER' | translate }}
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>