<ion-view>
<ion-nav-title>
  Mindlife Starter App
</ion-nav-title>
<ion-nav-buttons side="left">
  <a class="button button-icon icon ion-ios-help-outline" ng-click="goHelp()"></a>
</ion-nav-buttons>
<ion-nav-buttons side="right">
  <a class="button button-icon icon ion-gear-a" ng-click="goAccount()"></a>
</ion-nav-buttons>
  <ion-content>
    <div class="offline" ng-if="online == 'offline'" class="animate-if">
      <p>{{ 'ALL_OFFLINE_MODE_TITLE' | translate }}<br/>{{ 'AllC_OFFLINE_MODE_DESC' | translate }}</p>
    </div>
    <div class="brow">
      <div class="col-xs-12">
        {{ 'HomC_WELCOME_MESSAGE' | translate }}
      </div>
    </div>
  </ion-content>
</ion-view>
